<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" bootstrap="./bootstrap.php" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="false">
    <include>
      <directory suffix=".php">../app/</directory>
      <directory suffix=".php">../lib/</directory>
      <directory suffix=".php">../src/</directory>
    </include>
    <report>
      <html outputDirectory="../build/coverage"/>
    </report>
  </coverage>
  <testsuite name="I Am Fintech Plutus Test Suite">
    <directory>./</directory>
  </testsuite>
  <logging/>
  <groups>
    <exclude>
      <group>acceptance</group>
      <group>exclude</group>
      <group>onlinetest</group>
      <group>donttest</group>
      <group>functional</group>
    </exclude>
  </groups>
  <listeners>
    <listener class="VCR\PHPUnit\TestListener\VCRTestListener" file="vendor/php-vcr/phpunit-testlistener-vcr/src/VCRTestListener.php"/>
  </listeners>
</phpunit>
